@charset "utf-8";
@import url("c_normalize.css");
@import url("c_reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');


:root{
    --color_main: #222;
    --color_grey1: #333;
    --color_grey2: #666;
    --color_grey3: #999;
    --color_grey4: #EEE;
    
    --color_btnbg: #d9d9d9;
    --color_mybtnbg: #444;

    --color_accent: #E2AA25;
    --color_white: #FFF;

    --color_red: #DA3444;
    --color_green: #16832E;
    
    --color_purple: #8540F5;
    --color_yellow: #CBA82B;
    --color_bluegreen: #087990;    
    
    --imgSize_large: 40;
    --imgSize_medium: 20;
    --imgSize_small: 16;
    
    font-size: 14px;
  }


.f_mainTitle{
    font-size: 36px;
    font-weight: bold;
}

.__textupper{
  text-transform: uppercase;
}
.__hidden {
  display: none;
}
.__readonly{
  pointer-events: none;
}
.__shadow{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.__marginAuto{
  margin: 0 auto;
}
.__cantuse:hover::after{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f05e";
  position: absolute;
  color: red;
  left: 0;
  top: -10px;
}
